{% extends 'central/publication.html' %}
{% block title %} Consultancy {% endblock %}
{% block header %}
    <p class="text-xl font-medium">Consultancy</p>
    <p class="text-sm text-slate-600">Consultancy and Funded Project – Sanctioned and Received </p>
{% endblock %}

{% block addurl %}
     /consultancyapplication
{% endblock %}

{% block content %}
<table class=" text-left min-h-full text-gray-500 bg-white dark:text-gray-400 rounded-md overflow-x-auto w-full">
    <thead class="border-b text-gray-900 dark:text-gray-400">
        <tr>
            <th scope="col" class="px-6 py-3">
                Name
            </th>
            <th scope="col" class="px-6 py-3">
                Agency
            </th>
            <th scope="col" class="px-6 py-3">
                Startdate
            </th>
            <th scope="col" class="px-6 py-3">
                Enddate
            </th>
            <th scope="col" class="px-6 py-3">
                Amount
            </th>
            <th scope="col" class="px-6 py-3">
                Department
            </th>
            <th scope="col" class="px-6 py-3">
                Staffs
            </th>
        </tr>
    </thead>
    <tbody>
        {% for object in objects %}
        {% if object.category == 'consultancy' %}
        <tr class="border-b">
            <td scope="row" class="hover:underline px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                <a href="">
                {{object.name}}
                </a>
            </td>
            <td scope="row" class="px-6 py-4">
                <a href="">
                {{object.agency}}
                </a>
            </td>
            <td class="px-6 py-4">
                {{object.startdate}}
            </td>
            <td class="px-6 py-4">
                {{object.enddate}}
            </td>
            <td class="px-6 py-4">
                {{object.amount}}
            </td>
            <td class="px-6 py-4">
                {{object.department}}
            </td>
            <td class="px-6 py-4">
                {% for staff in object.staffs.all %}
                    {{staff}}, 
                {% endfor %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
    </table>
{% endblock %}