{% extends 'central/publication.html' %}
{% block title %} Funding {% endblock %}
{% block header %}
    <p class="text-xl font-medium mt-4">PhD Proposals</p>
    <p class="text-sm text-slate-600">File your PhD proposals</p>
{% endblock %}

{% block addurl %}
     /phdapplication
{% endblock %}

{% block content %}
<table class=" text-left min-h-full text-gray-500 bg-white dark:text-gray-400 rounded-md overflow-x-auto w-full">
    <thead class="border-b text-gray-900 dark:text-gray-400">
        <tr>
            <th scope="col" class="px-6 py-3">
                Domain
            </th>
            <th scope="col" class="px-6 py-3">
                Type
            </th>
            <th scope="col" class="px-6 py-3">
                Register No
            </th>
            <th scope="col" class="px-6 py-3">
                Date
            </th>
            <th scope="col" class="px-6 py-3">
                Supervisor No
            </th>
            <th scope="col" class="px-6 py-3">
                Supervisor
            </th>
            <th scope="col" class="px-6 py-3">
                Staffs
            </th>
        </tr>
    </thead>
    <tbody>
        {% for object in objects %}
        <tr class="border-b">
            <td scope="row" class="hover:underline px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                <a href="">
                {{object.domain}}
                </a>
            </td>
            <td scope="row" class="px-6 py-4">
                <a href="">
                {{object.type}}
                </a>
            </td>
            <td class="px-6 py-4">
                {{object.registerno}}
            </td>
            <td class="px-6 py-4">
                {{object.date}}
            </td>
            <td class="px-6 py-4">
                {{object.supervisorno}}
            </td>
            <td class="px-6 py-4">
                {{object.supervisor}}
            </td>
            <td class="px-6 py-4">
                {% for staff in object.staffs.all %}
                    {{staff}}, 
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}