{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Publication | Application {% endblock %}</title>
    {% tailwind_css %}
</head>
<body class="bg-[#ebedf0]">
    <div class="parent relative">
        {% include 'central/nav.html' %}
        <div class="overflow-hidden relative bg-white w-full gap-2 py-6 px-6 lg:px-12 mt-4 rounded-md flex justify-between items-center flex-wrap">
            <div>
                <a href="{% block backurl %}/publication{% endblock %}" class="flex text-sm font-medium items-center">
                    <img src="{% static 'images/arrow.svg' %}" alt="">
                    Back
                </a>
                <p class="text-xl font-medium mt-4">{% block header %}Application for Publication {% endblock %}</p>
                <p class="text-sm text-slate-600">{% block subhead %}Kindly fill down the following details carefully and submit the form.{% endblock %}</p>
            </div>
            <div class="absolute top-0 right-0 min-h-[100% bg-red-600]">
                <img src="{% static 'images/shadow2.svg' %}" class="min-w-[100%] top-[-20px] right-[-500px] opacity-50">
            </div>
        </div>

        {% if submitted == True %}
        <div class="bg-white shadow-md px-4 py-6 flex flex-col absolute top-4 right-4 rounded-md successnotification">
          <p class="text-xl font-medium mt-4">Application Submitted!</p>
          <p class="text-sm text-slate-600 font-bold">Reference number: {{submittedid}}</p>
          <p class="text-sm text-slate-600 mt-3">Your application has been successfully submitted for review.</p>
          <img src="{% static 'images/close.svg' %}" onclick="closingops()" alt="close" class="absolute top-2 right-2 cursor-pointer closebtn">
        </div>
        {% endif %}


        {% block content %}
        <form class="bg-white mt-4 p-6" method="POST">
            {% csrf_token %}
            <div class="space-y-12">
              <div>
                <div class="mt-4  gap-x-6 gap-y-8 sm:grid-cols-6">
                  <div class="text-sm leading-6">
                    <p class="text-red-600 font-semibold text-sm">{{errorhelp}}</p>
                  </div>
                        <div class="sm:col-span-3 mt-4">
                            <label for="title" class="block text-sm font-medium leading-6 text-gray-900">Title of paper</label>
                            <div class="mt-2 min-w-full">
                              <div class="min-w-full flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                                <input required type="text" maxlength="100" name="title" id="title" value="{{title}}" class="min-w-full block border-0 bg-transparent py-1.5 pl-4 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" >
                              </div>
                            </div>
                        </div>

                        <div class="sm:col-span-3 mt-4">
                            <label for="country" class="block text-sm font-medium leading-6 text-gray-900">Ranking Index</label>
                            <div class="mt-2">
                              <select id="country" name="publication" required value="{{index}}" class="block max-w-full lg:min-w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                                <option>Q1</option>
                                <option>SCOPUS</option>
                                <option>IEEE</option>
                                <option>IEEE</option>
                                <option>CONFERENCES INDEXED</option>
                                <option>CONFERENCES UGC CARE</option>
                                <option>BOOK AND BOOK CHAPTERS</option>
                                <option>IEEE/ELSEVIER/ACM & INTERNATIONAL CONF</option>
                              </select>
                            </div>
                        </div>
                </div>
              </div>
          
                <div class="mt-4 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 fieldswrap">
                  <div class="sm:col-span-3">
                    <label for="identification" class="block text-sm font-medium leading-6 text-gray-900">DOI No</label>
                    <div class="mt-2">
                      <input type="text" name="doi" id="identification" value="{{identification}}" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                    <p class="text-xs text-red-600">{{iderror}}</p>
                  </div>

                  <div class="sm:col-span-3">
                    <label for="identification" class="block text-sm font-medium leading-6 text-gray-900">ISSN No</label>
                    <div class="mt-2">
                      <input type="text" name="issn" id="identification" value="{{identification}}" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                  </div>
          
                  <div class="sm:col-span-3">
                    <label for="url" class="block text-sm font-medium leading-6 text-gray-900">URL (optional)</label>
                    <div class="mt-2">
                      <input type="url" name="url" id="url" value="{{url}}" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                  </div>
          
                  <div class="sm:col-span-3">
                    <label for="date" class="block text-sm font-medium leading-6 text-gray-900">Date of Publication</label>
                    <div class="mt-2">
                      <input id="date" required name="date" type="date" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                  </div>

                  <div class="sm:col-span-3">
                    <label for="department" class="block text-sm font-medium leading-6 text-gray-900">Department</label>
                    <div class="mt-2">
                      <select id="department" name="department" required class="block max-w-full lg:min-w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            <option value="Information Technology">Information Technology</option>
                            <option value="Electronics and Electrical Engineering">Electronics and Electrical Engineering</option>
                            <option value="Electronics and Communication Engineering">Electronics and Communication Engineering</option>
                            <option value="Mechanical Engineering">Mechanical Engineering</option>
                            <option value="Civil Engineering">Civil Engineering</option>
                            <option value="Computer Science Engineering">Computer Science Engineering</option>
                            <option value="Science and Humanities">Science and Humanities</option>
                            <option value="Artificial Intelligence and Data Science">Artificial Intelligence and Data Science</option>
                      </select>
                    </div>
                </div>

                <div class="sm:col-span-3">
                  <label for="number" class="block text-sm font-medium leading-6 text-gray-900">Employee ID of Guide (If any)</label>
                  <div class="mt-2">
                    <input id="number" name="guideid" type="text" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 ">
                  </div>
                </div>

                <div class="sm:col-span-3">
                  <label for="number" class="block text-sm font-medium leading-6 text-gray-900">No of Staffs from MCET (specify count including yourself)</label>
                  <div class="mt-2">
                    <input id="number" required name="staffcount" type="number" maxlength="50" value="{{authorcount}}" class="authorno block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 ">
                  </div>
                </div>

                  
                  <div class="authorwrap min-w-[100%] grid grid-cols-1 sm:col-span-3 lg:col-span-full col-start-1 gap-x-6 gap-y-8"></div>
                                  
                </div>
              </div>
              <p class="text-red-600 text-sm">{{error}}</p>
              <div>
                <div class="mt-10 space-y-10">  
                  <fieldset>
                    <div class="space-y-6">
                      <div class="relative flex gap-x-3">
                        <div class="flex h-6 items-center">
                          <input id="comments" required name="comments" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                        </div>
                        
                        <div class="text-sm leading-6">
                          <p class="text-gray-800 font-semibold text-sm">I certify that the information I have provided in this form is true, complete, and accurate to the best of my knowledge.</p>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
              <div class="flex mt-6 items-center justify-start gap-x-6">
                <button type="submit" name="submissiontype" value="redirect" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Submit</button>
                <button type="submit" name="submissiontype" value="submit" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5">Submit and add more</button>
              </div>
            </div>
          </form>
          {% endblock %}
          <!-- border-b border-gray-900/10 pb-12 -->
    </div>

    {% block script %}
    <script src="{% static 'js/utils.js' %}"></script>
    {% endblock %}
</body>
</html>