{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Publications{% endblock %}</title>
    {% tailwind_css %}
</head>
<!-- BLOCKS: title, header, addurl, content -->
<body class="bg-[#ebedf0]">
    {% include 'central/nav.html' %}
    <div class="overflow-hidden relative bg-white w-full gap-2 py-6 px-6 lg:px-12 mt-4 rounded-md flex justify-between items-center flex-wrap">
        <div>
            {% block header %}
            <p class="text-xl font-medium">Publications</p>
            <p class="text-sm text-slate-600">Publication in IEEE, Elsevier, ACM & international Conferences indexed in Scopus/UGC Care journals/indexed Book chapters from reputed publishers</p>
            {% endblock %}
        </div>
        <div class="z-10">
            <a href="{% block addurl %}/publicationapplication{% endblock %}">
                <button type="button" class=" flex gap-2 items-center justify-between text-white bg-[#4f46e5] hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                    Add new
                    <img src="{% static 'images/add.svg' %}" class="min-w-[20px] min-h-[20px]">
                </button>
            </a>
        </div>
        <div class="absolute top-0 right-0 min-h-[100% bg-red-600]">
            <img src="{% static 'images/shadow2.svg' %}" class="min-w-[100%] top-[-20px] right-[-100px] opacity-50">
        </div>
    </div>
    <div class="w-full mt-4">
        <div class="relative max-w-[100%] min-h-full overflow-x-scroll mt-6 rounded-md bg-white px-4 lg:px-12">
            {% block content %}
            <table class=" text-left min-h-full text-gray-500 bg-white dark:text-gray-400 rounded-md overflow-x-auto w-full">
                <thead class="border-b text-gray-900 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Title
                        </th>
                        <th scope="col" class="px-6 py-3">
                          
                            Ranking index
                        </th>
                        <th scope="col" class="px-6 py-3">
                            DOI/URL/ISSN
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Authors
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Approval Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for publication in publications %}

                    <tr class="border-b">
                        <td scope="row" class="hover:underline px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                            <a href="">
                            {{publication.title}}
                            </a>
                        </td>
                        <td scope="row" class="px-6 py-4">
                            <a href="">
                            {{publication.publication}}
                            </a>
                        </td>
                        <td class="px-6 py-4">
                            {{publication.identification}}
                        </td>
                        <td class="px-6 py-4">
                            {% for author in publication.authors.all %}
                                {{author}}, 
                            {% endfor %}
                        </td>
                        <td class="px-6 py-4">
                            {{publication.Controller}}
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
            {% endblock %}
        </div>
    </div>

    </div>
</body>
</html>